[Desktop Entry]
Name=StenoMD Vault
Comment=Open StenoMD Obsidian Vault
Exec=/usr/bin/obsidian --disable-gpu --disable-dev-shm-usage --no-sandbox --disable-gpu-sandbox %U
Icon=obsidian
Terminal=false
Type=Application
Categories=Office;TextEditor;
MimeType=application/vnd.obsidian.vault;
Path=/home/adrian/Desktop/NEDAILAB/StenoMD/vault